AI-Assisted Medical Diagnostic Report Generator with Radiologist Oversight.json
{
  "name": "AI-Assisted Medical Diagnostic Report Generator with Radiologist Oversight",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are the MedReport-AI-Agent. You will receive patient data and a diagnostic image.\n\nYour Task:\n1. Pull the Patient Name and Symptoms from the JSON body.\n2. Analyze the Medical Image binary file using your Vision capabilities.\n3. Generate a plain text medical report in the following format:\n\n--- MEDICAL DIAGNOSTIC REPORT ---\n\n[If life-threatening condition detected, start with:]\nCRITICAL ALERT: [Description of critical finding]\n\nPATIENT INFORMATION:\nName: {{ $json.body.patientName }}\nChief Complaint: {{ $json.body.symptoms }}\n\nSUBJECTIVE:\n[Patient primary complaint from form data]\n\nOBJECTIVE:\n[Key findings from medical images in bulleted format]\n• [Finding 1]\n• [Finding 2]\n• [Finding 3]\n\nASSESSMENT:\n[AI-driven interpretation using cautious language like \"suggestive of,\" \"consistent with,\" or \"appears to be\"]\n\nRECOMMENDATIONS:\n• [Suggested follow-up test or action 1]\n• [Suggested follow-up test or action 2]\n\nDISCLAIMER:\nDraft generated by AI. Pending Radiologist Verification.\n\n--- END OF REPORT ---",
          "passthroughBinaryImages": true
        }
      },
      "id": "77541237-3880-469e-8197-f1aea4867bb2",
      "name": "MedReport AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "c07442f7-c30a-4dbd-a043-bad3e36829a0",
      "name": "GPT-4o Vision Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        776,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "oZmQer7WqeAQVkLy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "OPTIONS"
        ],
        "path": "medical-intake",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "medicalImage, labResults"
        }
      },
      "id": "84b8e966-88d3-47c2-b0b5-6b481ab5e234",
      "name": "Webhook - Patient Data Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        480,
        304
      ],
      "webhookId": "93ed00d9-7ae3-4161-9503-30212f92eb29"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "a0c510c8-dbd2-4b3b-a9df-4dd70370b1d1",
      "name": "Return Medical Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GPT-4o Vision Model": {
      "ai_languageModel": [
        [
          {
            "node": "MedReport AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Patient Data Intake": {
      "main": [
        [
          {
            "node": "MedReport AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MedReport AI Agent": {
      "main": [
        [
          {
            "node": "Return Medical Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1b454bf-1522-4942-a3b2-b4f2b1a7787b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac2136ea360661193f09fe1e7fc5d15c771e69370f33285da728b4a0bcf69641"
  },
  "id": "I7JdJFo8aKpvACWX",
  "tags": []
}